*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --mainColor : rgba(254, 30, 30, 0.455);

    scroll-behavior: smooth;
}
::selection{
    background-color: #000ac0;
    color: white;
}
body{
    position: relative;
}
.space{
    height: 15vh;
}



/* !Navbar */
.my-navbar{
   overflow: hidden;
   width: 0px;
}
.open-bar{
    margin-right: 100px;
}
i.fa-solid.fa-bars{
    margin-left: 150px;
    margin-right: 10px;
}
i.fa-xmark{
    margin-right: 55px;
    margin-top: 35px;
    color: white;
    transition: all 0.5s;
}
i.fa-xmark:hover{
   color: brown;
}
ul.navbar-nav .nav-item{
    width: 100%;
}
ul .nav-item a{
    color: white;
    font-weight: bold;
    transition: all 0.5s;
}
ul .nav-item:hover a{
    color: brown;
}
ul{
    list-style: none;
}
ul li{
    margin: 10px 0;
}




/* !Home */
header{
    background-image: url("../images/events-heavenly-header.jpg");
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    height: 90vh;
    overflow: hidden;
    position: relative;
}
.header_shadow_cover{
    height: 90vh;
    width: 100%;
    background-color: var(--mainColor);
}
.header_shadow_cover h1{
     font-size: 65px;
}
.header_shadow_cover p{
    font-size: 20px;
}




/* !Singer Bar */
.singer-para{
    padding: 10px 0;
    display: none;
}
.singer-container{
    width: 60%;
}



/* !Duration */
.secondBgImage{
    background-image: url("../images/invitation-2508607__340.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.secondBgImage_shadow_cover{
    padding: 128px 0;
    width: 100%;
    background-color: var(--mainColor);
}
.date_box{
    width: 250px;
    height: 150px;
    border: 1px solid white;

}



/* !Details */
.details-icons i{
    margin-left: 10px;
    margin-right: 18px;
    color: gray;
}
.details-icons p{
   margin-top: 13px;
}
.brands-border{
    padding: 10px 13px;
    border: 1px solid;
    border-color: grey;
    margin: 0 10px;
    transition: all 0.5s;
}
.brands-border i{
    color: gray;
    transition: all 0.5s;
}
.brands-border:hover{
    background-color: red;
    border-color: red;
}
.brands-border:hover i{
    color: white;
}






